@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.react-select__control {
  border-color: none !important;
  @apply border rounded border-primary-light !important;
}

.react-select__placeholder {
  @apply text-primary-light !important;
}

.react-select__option--is-selected {
  @apply bg-primary-dark !important;
}

.bg-blur-md {
  backdrop-filter: blur(5px);
}

.bg-blur-lg {
  backdrop-filter: blur(10px);
}
